.loginForm{
    margin-left: auto;
     width:600px;
     margin-right: auto;
     margin-top: -700px;
     position: relative;
}

.GeeksForGeeks {
 
  font-size:50px;
  opacity: hidden;
}
.signinlink{
    color : rgb(0, 0, 0);
    font-size : 20px ;
    margin-bottom: 20px;
    font-weight: 600;
    }
    
    .signinlink:hover{
     color:rgb(39, 88, 223);
    
    }
    /* software development i javascript at abd alazie... */

