form{
    display :flex;
    flex-direction: column ; 
    
}
.main-div { 

    margin-left: auto;
    margin-right: auto;
    width :25%; 
    margin-top : 50px;
}
.userProducts{
    display:grid ; 
    flex-direction: row;
    margin-left: 20px;
    grid-template-columns: auto auto auto auto auto;
}
.OneProductClass{
    display:flex ; 
    flex-direction: column;
    border:2px solid rgb(6, 108, 126);
    width:fit-content;
    margin : 20px ; 
    box-shadow: 10px 10px 5px rgb(6, 108, 126);
-webkit-box-shadow: 10px 10px 5px rgb(21, 58, 65);
-moz-box-shadow: 10px 10px 5px rgb(10, 16, 17);
border-radius: 5px ;
/* padding-left: 5px; */


    
}
.OneProductClass h4 {
    margin-top: 3px;
    margin-left: 5px;
    color: white;
    text-shadow: 1px 1px 1px black, 0 0 5px blue, 0 0 2px darkblue;
}.OneProductClass h5 {
    margin-left: 5px;
    color:rgb(3, 145, 10);
    text-shadow: 1px 1px 1px rgb(255, 255, 255), 0 0 5px rgb(137, 238, 137), 0 0 2px rgb(15, 88, 37);

}
.OneProductClass img { 
    width: 250px ; 
    height : 250px ; 

}

